{% extends "base.html" %}

{% block content %} 

<div class="container mt-5">
	{%if errormessage %}
	<h4 class="text-danger text-center ">{{errormessage}}</h4>
	{%endif%}<form method="POST">
		{% csrf_token %}
<div class="card border-success mb-3 col-12 mt-5">
	<div class="card-header bg-transparent border-success">Donate Blood</div>
	<div class="card-body text-dark">
		{%if Emess%}
		<div class="row">
			<p> {{Emess}}</p>
		</div>
		{%endif%}	
		<input type="text" class="form-control mt-3 mb-4" placeholder="Pleace Enter Your Full Name" name="fullname" maxlength="50" required id="id_fullname">
		<input type="hidden"  class="form-control mt-3 mb-4" value="{{request.user.id}}" name="Did" required id="id_Did">
		
		<input type="number"  class="form-control mt-3 mb-4" placeholder="Pleace Enter Your Contact Number" pattern="\d{10}" name="phone_no" maxlength="10" required id="id_phone_no">
		<label for="id_is_diabitic"  class=" ml-2 ">Is diabitic:</label>
		<input type="checkbox"   name="is_diabitic" id="id_is_diabitic" class="mt-1 mb-4">
		<select name="BloodGrp"  class="form-control" required id="id_BloodGrp">
			<option value="" selected>Please Select Your Blood Group</option>
			<option value="A+">A+</option>
			<option value="A-">A-</option>
			<option value="B+">B+</option>
			<option value="B-">B-</option>
			<option value="O+">O+</option>
			<option value="O-">O-</option>
			<option value="AB+">AB+</option>
			<option value="AB-">AB-</option>
		</select>
		
		<input type="number"  class="form-control mt-4 mb-4" placeholder="Pleace Enter Your Age" name="Age" required id="id_Age">
		<select name="Bid"  class="form-control" required id="id_Bid">
			<option value="" selected>Please Select Blood Bank Location</option>
		{% for i in Blist %}
			<option value={{i.0}}>{{i.1}}</option>
		{% endfor %}
		</select>
		<input type="date"  class="form-control mt-4 mb-4" placeholder="date" name="donnate_date" required id="id_donnate_date">
		<input type="hidden"  name="Secret" value="{{SecVal}}">
	

	</div>
	<div class="card-footer bg-transparent border-success">	<input type="submit"class="form-control mt-4 mb-4 btn btn-primary" name="login" value="Request"></div>
  </div>

</div>
{% endblock %}
